<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,612},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_10c.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_10d.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,368},{90,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,118}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_11a.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_11b.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_11c.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_11d.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,612},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_12a.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_12b.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_12c.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_12d.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_13a.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_13b.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,612},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_13c.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_13d.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,612},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,612},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_5c.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,612},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_6c.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_7a.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_7c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_7d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_8a.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_8c.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_8d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_9a.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_9c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_9d.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>card_joker_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>pukebeimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,488},{88,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,118}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>ssl_num2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,674},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>ssl_num2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,550},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>ssl_num2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,674},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>ssl_num2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,550},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>ssl_num2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,576},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>wenziniu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,173},{82,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,41}}</string>
                <key>sourceSize</key>
                <string>{82,41}</string>
            </dict>
            <key>wenziniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,576},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,88},{83,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>wenziniu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{84,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,42}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>wenziniu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,130},{126,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,42}}</string>
                <key>sourceSize</key>
                <string>{126,42}</string>
            </dict>
            <key>wenziniu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{126,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,42}}</string>
                <key>sourceSize</key>
                <string>{126,42}</string>
            </dict>
            <key>wenziniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,576},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,521},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,454},{94,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,466},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,356},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,368},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,258},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>wenziniu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,368},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1011,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81c73382aa61d07f832d3e0a39b684f8$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
