<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_card_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>large_poker1.png</string>
            <key>size</key>
            <string>{1450,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16fc5f8bcecff157ac515cb07ba74b68$</string>
            <key>textureFileName</key>
            <string>large_poker1.png</string>
        </dict>
    </dict>
</plist>
