<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_card_5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_5b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_5c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_6a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_6b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_6c.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_7a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_7b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_7c.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_7d.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_8a.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_8b.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_8c.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_8d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_9a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_9b.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_9c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
            <key>poker_card_9d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,480}}</string>
                <key>sourceSize</key>
                <string>{360,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>large_poker2.png</string>
            <key>size</key>
            <string>{1812,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62199602dc8cce597918f8bb0afceaf2$</string>
            <key>textureFileName</key>
            <string>large_poker2.png</string>
        </dict>
    </dict>
</plist>
