<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,591},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,591},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,591},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,591},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,347},{131,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,345},{131,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{131,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,228},{131,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{131,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,591},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,589},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,470},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,470},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,470},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,470},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,468},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,466},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,349},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,349},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,349},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,228},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,228},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,226},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,224},{139,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,113},{121,111}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{121,111}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{121,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{121,117}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{121,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,347},{121,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{103,111}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{103,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{103,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{103,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{103,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{103,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{103,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,113},{109,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{109,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,107},{109,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{109,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,107},{109,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{109,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{109,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{109,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{109,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{109,117}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{109,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{109,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{109,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{109,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{109,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{109,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,218},{117,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,113},{113,119}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,113},{113,119}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
            <key>dragon_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,113},{113,119}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{139,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_item.png</string>
            <key>size</key>
            <string>{989,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ed49a2187de79c055da29f159a12aa8$</string>
            <key>textureFileName</key>
            <string>dragon_item.png</string>
        </dict>
    </dict>
</plist>
