<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>horse_3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,0},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,180},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,230},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,360},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,460},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,540},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,590},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,540},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,540},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,540},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,540},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,540},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,540},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,640},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,720},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,770},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,720},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,720},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,720},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,720},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,720},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,820},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,900},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,950},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1000},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,900},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,900},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,900},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,900},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,1000},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1080},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
			<key>horse_3_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1130},{230,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>horse_3.png</string>
			<key>realTextureFileName</key>
			<string>horse_3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>