<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ebgchip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>ebgchip100.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,79},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>ebgchip1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>ebgchip20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>ebgchip200.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,40},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>ebgchip50.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>ebgchip500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ebgchip.png</string>
            <key>size</key>
            <string>{116,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3242da431d005d31f175021ffc52e90c$</string>
            <key>textureFileName</key>
            <string>ebgchip.png</string>
        </dict>
    </dict>
</plist>
