<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{267,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,93}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>type300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{267,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,93}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>type400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{267,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,93}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>type500.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{267,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,93}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>type600.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{267,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,93}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>type700.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{267,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,93}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>type800.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,93}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldniuniu.png</string>
            <key>size</key>
            <string>{1885,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea3540b8867166a0fddf3bb8447d1dd$</string>
            <key>textureFileName</key>
            <string>goldniuniu.png</string>
        </dict>
    </dict>
</plist>
