<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nn331_img_niu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,400},{180,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,89}}</string>
                <key>sourceSize</key>
                <string>{180,89}</string>
            </dict>
            <key>nn331_img_niu100.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,201},{197,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,146}}</string>
                <key>sourceSize</key>
                <string>{197,146}</string>
            </dict>
            <key>nn331_img_niu200.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{197,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,146}}</string>
                <key>sourceSize</key>
                <string>{197,146}</string>
            </dict>
            <key>nn331_img_niu300.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{269,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,150}}</string>
                <key>sourceSize</key>
                <string>{269,150}</string>
            </dict>
            <key>nn331_img_niu400.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,150}}</string>
                <key>sourceSize</key>
                <string>{269,150}</string>
            </dict>
            <key>nn331_img_niu91.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,191},{187,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,86}}</string>
                <key>sourceSize</key>
                <string>{187,86}</string>
            </dict>
            <key>nn331_img_niu92.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,191},{187,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,86}}</string>
                <key>sourceSize</key>
                <string>{187,86}</string>
            </dict>
            <key>nn331_img_niu93.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{187,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,87}}</string>
                <key>sourceSize</key>
                <string>{187,87}</string>
            </dict>
            <key>nn331_img_niu94.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,380},{186,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,87}}</string>
                <key>sourceSize</key>
                <string>{186,87}</string>
            </dict>
            <key>nn331_img_niu95.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{185,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,87}}</string>
                <key>sourceSize</key>
                <string>{185,87}</string>
            </dict>
            <key>nn331_img_niu96.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{167,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,82}}</string>
                <key>sourceSize</key>
                <string>{167,82}</string>
            </dict>
            <key>nn331_img_niu97.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,189},{167,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,82}}</string>
                <key>sourceSize</key>
                <string>{167,82}</string>
            </dict>
            <key>nn331_img_niu98.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,273},{197,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,150}}</string>
                <key>sourceSize</key>
                <string>{197,150}</string>
            </dict>
            <key>nn331_img_niu99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{197,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,150}}</string>
                <key>sourceSize</key>
                <string>{197,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniuCount.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fd0907ad31b4970cc54e496dbdc8b70$</string>
            <key>textureFileName</key>
            <string>niuniuCount.png</string>
        </dict>
    </dict>
</plist>
