<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shisan_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,212}</string>
                <key>spriteSourceSize</key>
                <string>{258,212}</string>
                <key>textureRect</key>
                <string>{{1,263},{258,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shisan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,184}</string>
                <key>spriteSourceSize</key>
                <string>{258,184}</string>
                <key>textureRect</key>
                <string>{{261,1},{258,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shisan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,260}</string>
                <key>spriteSourceSize</key>
                <string>{258,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shisan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,212}</string>
                <key>spriteSourceSize</key>
                <string>{258,212}</string>
                <key>textureRect</key>
                <string>{{1,263},{258,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shi_sanshui.png</string>
            <key>size</key>
            <string>{446,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f1b84002e9d3abb604c4a326d296f2e:ea696e72b5fb36815c13a4ef5226133c:def92da90e6f577ad8a4f2d09feb968e$</string>
            <key>textureFileName</key>
            <string>shi_sanshui.png</string>
        </dict>
    </dict>
</plist>
