<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{162,194}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,73},{162,194}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,350},{240,240}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{240,240}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,658},{276,276}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{276,276}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{282,272}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{282,272}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{306,306}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,346}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{346,346}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{192,190}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,90},{192,190}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{196,196}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,87},{196,196}}</string>
                <key>sourceSize</key>
                <string>{354,354}</string>
            </dict>
            <key>anim_bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,200},{140,137}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,37},{140,137}}</string>
                <key>sourceSize</key>
                <string>{202,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f06e8677e8b7ac3f9f4c9239cf65847f$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
