<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_plane_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,137}}</string>
                <key>sourceSize</key>
                <string>{177,137}</string>
            </dict>
            <key>anim_plane_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,141},{111,53}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{113,51}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,51}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,254},{77,47}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{77,47}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,324},{77,45}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{77,45}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,277},{77,45}}</string>
                <key>offset</key>
                <string>{-40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,45}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{33,39}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{33,39}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,230},{81,45}}</string>
                <key>offset</key>
                <string>{38,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,22},{81,45}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,181},{81,47}}</string>
                <key>offset</key>
                <string>{30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,20},{81,47}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{71,31}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,28},{71,31}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,35},{69,31}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{69,31}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{113,37}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{113,37}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{111,39}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{111,39}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{113,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{113,39}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_plane_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,68},{111,53}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feiji.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc1e99aa18b4b73c3d06819e8b469f51$</string>
            <key>textureFileName</key>
            <string>feiji.png</string>
        </dict>
    </dict>
</plist>
