<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_double_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,83}}</string>
                <key>sourceSize</key>
                <string>{177,83}</string>
            </dict>
            <key>anim_double_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,93},{105,35}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{105,35}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{107,37}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{107,37}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,31},{63,35}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,18},{63,35}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,130},{37,35}}</string>
                <key>offset</key>
                <string>{43,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,17},{37,35}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{35,37}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,16},{35,37}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,122},{19,27}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,24},{19,27}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,130},{15,25}}</string>
                <key>offset</key>
                <string>{53,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,23},{15,25}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,130},{13,11}}</string>
                <key>offset</key>
                <string>{-47,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{13,11}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,143},{17,17}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{17,17}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,143},{25,17}}</string>
                <key>offset</key>
                <string>{-44,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{25,17}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,68},{41,23}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{41,23}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{69,27}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{69,27}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,162},{87,29}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{87,29}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,68},{99,29}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{99,29}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>anim_double_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{105,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{105,33}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liandui.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96907d3d2f978db6a7171ba0ccee819f$</string>
            <key>textureFileName</key>
            <string>liandui.png</string>
        </dict>
    </dict>
</plist>
