<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_straight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,316},{28,17}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,118},{28,17}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{114,81}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{114,81}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,152},{118,79}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{118,79}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,233},{122,81}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{122,81}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{124,87}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{124,87}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{132,83}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{132,83}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,81}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{140,81}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,316},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>anim_straight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,374},{40,29}}</string>
                <key>offset</key>
                <string>{-9,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,105},{40,29}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,469},{50,39}}</string>
                <key>offset</key>
                <string>{-8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,93},{50,39}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,405},{62,47}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,81},{62,47}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,411},{74,55}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,70},{74,55}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{88,65}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,56},{88,65}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{92,67}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{92,67}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,79},{100,71}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{100,71}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>anim_straight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{106,75}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{106,75}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shunz.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e8be2ec20332e9b65d012826a82a0b5$</string>
            <key>textureFileName</key>
            <string>shunz.png</string>
        </dict>
    </dict>
</plist>
