<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,498},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
			<key>chun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,607},{157,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,104}}</string>
                <key>sourceSize</key>
                <string>{157,104}</string>
            </dict>
            <key>spring/downflower/tengman_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,328},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,325},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,750},{86,87}}</string>
                <key>offset</key>
                <string>{-103,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,187},{86,87}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,643},{88,93}}</string>
                <key>offset</key>
                <string>{-103,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,186},{88,93}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,750},{88,101}}</string>
                <key>offset</key>
                <string>{-103,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,187},{88,101}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,643},{110,105}}</string>
                <key>offset</key>
                <string>{-114,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,186},{110,105}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,875},{146,105}}</string>
                <key>offset</key>
                <string>{-132,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,186},{146,105}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,865},{150,105}}</string>
                <key>offset</key>
                <string>{-134,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,186},{150,105}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,713},{150,111}}</string>
                <key>offset</key>
                <string>{-134,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,186},{150,111}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,878},{148,111}}</string>
                <key>offset</key>
                <string>{-133,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,187},{148,111}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,863},{148,111}}</string>
                <key>offset</key>
                <string>{-133,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,187},{148,111}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{148,111}}</string>
                <key>offset</key>
                <string>{-133,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,187},{148,111}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,713},{148,111}}</string>
                <key>offset</key>
                <string>{-133,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,186},{148,111}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/downflower/tengman_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{144,107}}</string>
                <key>offset</key>
                <string>{-132,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,188},{144,107}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,325},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,325},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,329},{164,167}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,156},{164,167}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{194,203}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,134},{194,203}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{230,201}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,130},{230,201}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,628},{248,253}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,95},{248,253}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{296,291}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,75},{296,291}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,322},{336,319}}</string>
                <key>offset</key>
                <string>{-26,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,57},{336,319}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,325}}</string>
                <key>offset</key>
                <string>{-40,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,43},{380,325}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{318,345}}</string>
                <key>offset</key>
                <string>{-6,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,31},{318,345}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,300},{326,277}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,100},{326,277}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,322},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,322},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            <key>spring/upflower/huaban_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,322},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,533}</string>
            </dict>
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spring0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b556e5324bf2c8c4dde5b18624a9c66f$</string>
            <key>textureFileName</key>
            <string>spring0.png</string>
        </dict>
    </dict>
</plist>
