<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_horce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{50,34}}</string>
                <key>offset</key>
                <string>{100,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,199},{50,34}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>anim_horce_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,250}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{431,250}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,54},{31,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,194},{31,31}}</string>
                <key>sourceSize</key>
                <string>{427,421}</string>
            </dict>
            <key>anim_horce_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1441},{343,341}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{343,341}}</string>
                <key>sourceSize</key>
                <string>{427,421}</string>
            </dict>
            <key>anim_horce_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1242},{357,357}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{357,357}}</string>
                <key>sourceSize</key>
                <string>{427,421}</string>
            </dict>
            <key>anim_horce_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{375,379}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{375,379}}</string>
                <key>sourceSize</key>
                <string>{427,421}</string>
            </dict>
            <key>anim_horce_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{397,395}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{397,395}}</string>
                <key>sourceSize</key>
                <string>{427,421}</string>
            </dict>
            <key>anim_horce_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{411,413}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{411,413}}</string>
                <key>sourceSize</key>
                <string>{427,421}</string>
            </dict>
            <key>anim_horce_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1487},{112,272}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,149},{112,272}}</string>
                <key>sourceSize</key>
                <string>{120,430}</string>
            </dict>
            <key>anim_horce_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1784},{112,232}}</string>
                <key>offset</key>
                <string>{1,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,197},{112,232}}</string>
                <key>sourceSize</key>
                <string>{120,430}</string>
            </dict>
            <key>anim_horce_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{112,248}}</string>
                <key>offset</key>
                <string>{1,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,177},{112,248}}</string>
                <key>sourceSize</key>
                <string>{120,430}</string>
            </dict>
            <key>anim_horce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,648},{211,178}}</string>
                <key>offset</key>
                <string>{55,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,169},{211,178}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,372},{112,274}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,148},{112,274}}</string>
                <key>sourceSize</key>
                <string>{120,430}</string>
            </dict>
            <key>anim_horce_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{116,368}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,368}}</string>
                <key>sourceSize</key>
                <string>{120,430}</string>
            </dict>
            <key>anim_horce_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,861},{291,200}}</string>
                <key>offset</key>
                <string>{26,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,157},{291,200}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1154},{331,238}}</string>
                <key>offset</key>
                <string>{16,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,124},{331,238}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1000},{381,240}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,96},{381,240}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,756},{395,242}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,70},{395,242}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,504},{409,250}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{409,250}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,252},{419,250}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{419,250}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
            <key>anim_horce_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{427,248}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{427,248}}</string>
                <key>sourceSize</key>
                <string>{435,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wang_zha.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7b94836f8609273d3de6bf49441860a$</string>
            <key>textureFileName</key>
            <string>wang_zha.png</string>
        </dict>
    </dict>
</plist>
