<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tb_kill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{164,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,842},{164,169}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{164,169}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,498},{164,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,171}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{164,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{164,173}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{164,171}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{164,171}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,671},{164,169}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{164,169}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{164,169}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{164,169}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{164,173}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{162,173}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{162,173}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>tb_kill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{164,171}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{164,171}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tb_kill.png</string>
            <key>size</key>
            <string>{343,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db6d6fabbe51b8f5d4dfc130ccc4ba0$</string>
            <key>textureFileName</key>
            <string>tb_kill.png</string>
        </dict>
    </dict>
</plist>
