<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>dian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>dian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>dian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>dian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>dian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,52}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>dian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>dian9.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ebgdian.png</string>
            <key>size</key>
            <string>{770,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2febae262837ace1b09506a5542b6b84$</string>
            <key>textureFileName</key>
            <string>ebgdian.png</string>
        </dict>
    </dict>
</plist>
