<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonAnimation_10_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-161.5,161.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{259,237},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{237,939},{200,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-46}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,921},{204,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,6}</string>
                <key>spriteSize</key>
                <string>{230,228}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{247,499},{230,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-41}</string>
                <key>spriteSize</key>
                <string>{210,244}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,709},{210,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_10_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-46}</string>
                <key>spriteSize</key>
                <string>{244,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,473},{244,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_10_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-46}</string>
                <key>spriteSize</key>
                <string>{256,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,237},{256,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_10_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-46}</string>
                <key>spriteSize</key>
                <string>{270,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_10_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{259,263},{252,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_10_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-46}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{273,1},{260,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_10_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-46}</string>
                <key>spriteSize</key>
                <string>{208,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{247,729},{208,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonAn_10.png</string>
            <key>size</key>
            <string>{512,1130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45a0c5f90ff85f8ef8a7011cdedfa88e:ee927ccb4659cdf669e032d9386d494a:77abc8ef4c50f7b4b5d7ffaf73d07d9e$</string>
            <key>textureFileName</key>
            <string>dragonAn_10.png</string>
        </dict>
    </dict>
</plist>
