<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonAnimation_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-161.5,161.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{237,259},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{941,1},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-46}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{921,241},{204,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,10}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{709,1},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-39}</string>
                <key>spriteSize</key>
                <string>{210,248}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{263,259},{210,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-46}</string>
                <key>spriteSize</key>
                <string>{244,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{475,255},{244,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-46}</string>
                <key>spriteSize</key>
                <string>{256,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{237,1},{256,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-46}</string>
                <key>spriteSize</key>
                <string>{270,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{473,1},{252,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-46}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,273},{260,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-46}</string>
                <key>spriteSize</key>
                <string>{208,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{711,241},{208,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonAn_2.png</string>
            <key>size</key>
            <string>{1134,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ed14e4deb3920163b6e3d3d528352d:66a3dfd6f0ab72c0997342dfdd37965e:93509b5bf21aaa9b00831504c4e2baf2$</string>
            <key>textureFileName</key>
            <string>dragonAn_2.png</string>
        </dict>
    </dict>
</plist>
