<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonAnimation_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-161.5,161.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{259,237},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{172,162}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{213,895},{172,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_9_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{164,142}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,909},{164,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{184,210}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{213,709},{184,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-34}</string>
                <key>spriteSize</key>
                <string>{198,210}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,709},{198,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-46}</string>
                <key>spriteSize</key>
                <string>{244,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,473},{244,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_9_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-46}</string>
                <key>spriteSize</key>
                <string>{256,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,237},{256,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_9_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-46}</string>
                <key>spriteSize</key>
                <string>{270,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_9_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{259,263},{252,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_9_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-46}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{273,1},{260,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_9_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-46}</string>
                <key>spriteSize</key>
                <string>{208,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{247,499},{208,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonAn_9.png</string>
            <key>size</key>
            <string>{512,1058}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60589063dbfd32e7154d01bcd17e0543:38caff5329c4fb232e36ec6b9ca2e493:0aadb3ee93ea94880e0685ea34dcb1a8$</string>
            <key>textureFileName</key>
            <string>dragonAn_9.png</string>
        </dict>
    </dict>
</plist>
