<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonAnimation_6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-161.5,161.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{713,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{164,176}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{209,473},{164,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_6_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{164,142}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{375,473},{164,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{178,206}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,473},{178,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-33}</string>
                <key>spriteSize</key>
                <string>{198,208}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{519,471},{198,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-46}</string>
                <key>spriteSize</key>
                <string>{240,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{263,1},{240,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_6_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-46}</string>
                <key>spriteSize</key>
                <string>{254,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,237},{254,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_6_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-46}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_6_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-46}</string>
                <key>spriteSize</key>
                <string>{206,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{505,1},{206,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_6_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-45}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{467,237},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_6_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-46}</string>
                <key>spriteSize</key>
                <string>{208,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{257,237},{208,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonAn_6.png</string>
            <key>size</key>
            <string>{728,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:223fa7cb09368c05b212d01228dfcf62:24ce0f288d82547c116e62c8049850cb:bc7776a655463ca86aa39c2501b26697$</string>
            <key>textureFileName</key>
            <string>dragonAn_6.png</string>
        </dict>
    </dict>
</plist>
