<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonAnimation_8_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-161.5,161.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{263,503},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{164,182}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{903,201},{164,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{164,142}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{923,1},{164,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{192,212}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{709,201},{192,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-33}</string>
                <key>spriteSize</key>
                <string>{198,212}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{709,1},{198,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-46}</string>
                <key>spriteSize</key>
                <string>{244,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{263,257},{244,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_8_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-46}</string>
                <key>spriteSize</key>
                <string>{254,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{237,1},{254,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_8_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-46}</string>
                <key>spriteSize</key>
                <string>{270,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_8_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{473,1},{252,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragonAnimation_8_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-46}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{1,273},{260,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonAnimation_8_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-46}</string>
                <key>spriteSize</key>
                <string>{208,234}</string>
                <key>spriteSourceSize</key>
                <string>{326,326}</string>
                <key>textureRect</key>
                <string>{{499,255},{208,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonAn_8.png</string>
            <key>size</key>
            <string>{1068,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5d68d741ffbd3886fbb0a60cc0d46b:6a3b1d20698323c19cc002ba5bbd8217:3a4f6b8c35f50a59a1280b7f32f1d126$</string>
            <key>textureFileName</key>
            <string>dragonAn_8.png</string>
        </dict>
    </dict>
</plist>
