<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldyybf_ani1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,122},{127,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{127,118}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>goldyybf_ani2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{137,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{137,118}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>goldyybf_ani3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{119,120}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>goldyybf_ani4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,251},{133,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{133,118}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>goldyybf_ani5.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,118}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{119,118}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>goldyybf_ani6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{117,126}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{117,126}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>goldyybf_ani7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,116}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{119,116}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>goldyybf_ani8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,386},{125,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{125,126}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldyybf_ani.png</string>
            <key>size</key>
            <string>{250,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d33e579189c2562d92640f6a7367bb89$</string>
            <key>textureFileName</key>
            <string>goldyybf_ani.png</string>
        </dict>
    </dict>
</plist>
